streamlit
openai
python-dotenv
markdown
numpy
yt-dlp
ffmpeg-python
python-docx
faiss-cpu
langchain
langchain_community
langchain-openai
requests
gdown
pydub
tiktoken
pathlib
langdetect
instaloader
